*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuprimario{
    border-style: double;
    width: 900px;
    display: inline-block;
}
.menuprimario .web2 li{
    display: inline-block;
}

.menusecundario{
    padding: 0px;
    margin: 0px;
}

#SloganWhatsApp{
    width: 50px;
    height: 50px;
    position:fixed;
    bottom: 25px;
    right: 25px;
}


.menusecundario .navbar{
    background: rgb(133, 131, 132); 
    width: 100%;
    display: inline;
    margin: 30px 30px;
    border-style: solid;
}

.menusecundario .navbar{
    border-style: double;
    width: 96%;
    display: flex;
    padding-left: 15px;
}

.menusecundario .navbar img{
    /*border-style: solid;*/
    list-style: none;
    font-size: 20px;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 20px;
}

.menusecundario .navbar .listamenu{
    border-style: double;
    width: 100%;
    display:inline-block;
    padding-right: 10px;
    margin: 30px;
}

.menusecundario .navbar .listamenu li{
    /*border-style: solid;*/
    list-style: none;
    padding-left: 10px;
    display: inline-block;
    font-size: 20px;
    float: right;
}

/*====================
========CARRUCEL======
======================*/

.carousel{
    position: relative;
}

.carousel .inner{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner::after{
    display:block;
    clear:both;
    content:"";

}

.carousel-item{
    position:relative;
    display:none;
    float:left;
    width:900px;
    margin-right:-100%;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    transition:transform .2s ease-in-out;
}


@media (prefers-reduced-motion:reduce){.carousel-item{transition:none}}

.carousel-item-next,.carousel-item-prev,.carousel-item.active{display:block}


.active.carousel-item-end,.carousel-item-next:not(.carousel-item-start){transform:translateX(100%)}

.active.carousel-item-start,.carousel-item-prev:not(.carousel-item-end){transform:translateX(-100%)}